html {
    background-color: rgb(247, 199, 198);
}

div.container {
    text-align: center;
  }
ul {
    display: inline-block;
    text-align: left;
    font-size: large;
}
ol {
    display: inline-block;
    text-align: left;
    font-size: large;
}

button {
    background-color: rgb(7, 218, 7);
    color: black;
    font-weight: bold;
    text-decoration: none;
}
img {
    height: 650px;
    width: 800px;
    display: block;
    margin: auto;
}
.FoodDescription {
    font-size: x-large;
    font-family: "Arial MT",sans-serif;
    text-align: center;
}